body {
  background-color: #4D6F65;
  min-height: 100vh;
  background-image: url(../images/space-cows-on-the-moon.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: hidden;


  h2.booya {
    color: white;
    vertical-align: middle;
    line-height: 100vh;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 8px darken(#4D6F65, 20);
    font-weight: 100;
    font-size: 10vw;
  }
}

// Layout

.banner, .main {
  @include vw-container();
}

.navbar-brand {
  //@include hide-text;
  display:block;
  float:left;
  color:#10406B;
  font-family:$heading-font-family;
  font-size:30px;
  font-size:3rem;
  margin-top:8px;
  @include media($min-sm) {
    width:30%;
    margin:0;
  }
}

.navbar-toggle {
  float:right;
  padding:9px 10px;
  margin:15px 0;
  border-radius:4px;
  background:$base-link;
  border:none;
  @include media($min-sm) {
    display:none;
  }
  .ico {
    color: white;
  }
}

.navbar-menu {
  clear:both;
  margin:0 -15px;
  @include media($min-sm) {
    clear:none;
    float: right;
    width:70%;
    text-align: right;
    margin:14px 0 0 0;
  }
  ul {
    li {
      text-transform: uppercase;
      padding:0;
      @include media($min-sm) {
        display:inline-block;
        padding-left:20px;
      }
      &:before {
        background:none;
      }
      a {
        display:block;
        padding:10px 15px;
        border-top:1px solid #cccccc;
        @include media($min-sm) {
          padding:0;
          border:none;
        }
      }
    }
  }
}

.cta-list {
  text-align: center;
  margin:30px 0;
  @include row();
  li {
    padding:20px;
    margin-bottom: 20px;
    background:#D3303B;
    @include media($min-sm) {
      @include span-columns(4);
      @include omega(3n);
    }
    @include media($min-md) {
      @include span-columns(3);
      @include omega-reset(3n);
      @include omega(4n);
    }
    &:before {
      background:none;
    }
    a {
      display:block;
      color:#fff;
      text-transform: uppercase;
      padding:50px 20px;
      border-radius: 50px;
      background:#E05E66;
    }
  }
}

.media {
  @include row();
  .appearances {
    @include media($min-sm) {
      float:left;
      width:50%;
      @include pad(0 15px 0 0);
    }
  }
  .press {
    @include media($min-sm) {
      float:left;
      width:50%;
      @include pad(0 0 0 15px);
    }
  }
}

.news-post {
  margin-bottom: 30px;
  @include media($min-sm) {
    @include fill-parent();
    @include row();
    @include display(table);
  }

  aside {
    text-align: center;
    margin-bottom: 15px;
    @include media($min-sm) {
      text-align: left;
      margin:0;
      @include span-columns(2);
      vertical-align: middle;
    }
    @include media($min-md) {
      @include span-columns(3);
    }
    img {
      max-width: 100%;
    }
  }
  section {
    @include media($min-sm) {
      @include span-columns(10);
      @include pad(0 0 0 20px);
      vertical-align: middle;
      @include media($min-md) {
        @include span-columns(9);
      }
    }
  }
}

// Tables
table {
  margin:30px 0;
  th, td {
    padding:10px;
  }
  tbody {
    tr {
      &:nth-child(odd) {
        background:$base-table-color;
      }
    }
  }
}