// Forms

::-webkit-input-placeholder { opacity:1; }
:-moz-placeholder { opacity:1; }
::-moz-placeholder { opacity:1; }
:-ms-input-placeholder { opacity:1; }

label {
  color:$base-font-color;
  font-weight: 500;
  padding:0 0 5px 0;
}

#{$all-text-inputs} {
  width:100%;
  padding:15px;
  border:1px solid #ccc;
  @include media($min-sm) {
    padding:20px 15px;
  }
}

#{$all-button-inputs} {
  width:100%;
  display:block;
  border:none;
  @include media($min-xs) {
    width:auto;
    display:inline-block;
    padding:8px 80px;
  }
}

.select-wrapper {
  position:relative;
  width:100%;
  height:31px;
  padding:5px 10px;
  overflow: hidden;
  //background:#fff url(/assets/img/select-arrow.jpg) no-repeat right;
  &:after {
    position:absolute;
    right:10px;
    top:13px;
  }
  select {
    cursor: pointer;
    width:120%;
    height:21px;
    background: transparent;
    border: 0;
  }
}


// Gravity Forms Site Wide
.gform_wrapper {

  ul {
    li {
      padding:0;
      &:before {
        background:none;
      }
    }
  }

  .gfield {
    padding-bottom:30px;
  }

  .ginput_full {
    @include row();
  }

  .gfield_radio, .gfield_checkbox {
    label {
      display:inline-block;
      margin:0 0 0 10px;
    }
    input[type=radio], input[type="checkbox"] {
      margin-top:8px;
    }
  }

  .gfield_required {
    float:right;
    height:17px;
    color:$form-red;
  }

  .validation_error {
    text-align: center;
    padding:10px 20px;
    margin:15px 0 30px 0;
    background:$form-red;
  }
  .validation_message {
    color:$form-red;
    font-style: italic;
  }

}