/* Typography */

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-size: 100%;
  line-height: 1.5;
  font-weight: 300;
  color: $base-font-color;
  font-family: $base-font-family;
}

a {
  color:$base-link;
  text-decoration:none;
  &:hover {
    color:$base-link-hover;
    text-decoration:none;
  }
  &:focus {
    color:$base-link-hover;
    text-decoration:none;
    outline:0;
  }
  &:active {
    text-decoration:none;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.25;
  color:$base-font-color;
  margin:0 0 15px 0;
  @include media($min-sm) {
    line-height: 1.4;
  }
}

h1 {
  @include font-size(32px);
  line-height: 1.125;
  @include media($min-sm) {
    @include font-size(40px);
    line-height: 1.25;
  }
  @include media($min-md) {
    @include font-size(48px);
  }
}

h2 {
  @include font-size(26px);
  line-height: 1.2;
  @include media($min-sm) {
    @include font-size(32px);
    line-height: 1.3;
  }
  @include media($min-md) {
    @include font-size(36px);
  }
}

h3 {
  @include font-size(22px);
  line-height: 1.23;
  @include media($min-sm) {
    @include font-size(24px);
    line-height: 1.3;
  }
  @include media($min-md) {
    @include font-size(28px);
  }
}

h4 {
  @include font-size(18px);
}

h5 {
  @include font-size(18px);
}

h6 {
  @include font-size(18px);
}

p, li, summary {
  @include font-size(16px);
}

p, summary {
  padding:0 0 15px 0;
  margin:0;
}

li {
  position:relative;
  list-style: none;
  padding:0 0 10px 15px;
  &:last-child {
    padding-bottom:15px;
  }
  li:first-child {
    margin-top:10px;
  }
}

ul {
  padding:0;
  margin:0;
  li:before {
    content:"";
    position:absolute;
    top:9px;
    left:0;
    width:6px;
    height:6px;
    border-radius:12px;
    background:$base-font-color;
  }
}

ol {
  counter-reset: i 0;
  padding:0;
  margin:0;
  li:before {
    color:$base-font-color;
    font-weight:500;
    content: counter(i) ".";
    counter-increment: i;
    position:absolute;
    top:0;
    left:0;
  }
}

blockquote {
  position:relative;
  margin:20px 0;
  padding:15px 0;
  border-top:1px solid $base-border;
  border-bottom:1px solid $base-border;
  @include media($min-sm) {
    margin:20px 40px;
  }
  &:before {
    content:'\201C';
    float:left;
    position:relative;
    top:-12px;
    @include font-size(95px);
    line-height: 1;
  }
  p {
    @include font-size(20px);
    font-style: italic;
    padding:0 40px;
  }
}


// Forms
label {
  @include font-size(18px);
}
#{$all-text-inputs} {
  @include font-size(18px);
}
#{$all-button-inputs} {
  @include font-size(18px);
}
.validation_error {
  @include font-size(18px);
}
.validation_message {
  @include font-size(14px);
}


// Tables
table {
  th {
    @include font-size(16px);
    text-align: left;
  }
  td {
    @include font-size(14px);
  }
}


// Only display content to screen readers
// See: http://a11yproject.com/posts/how-to-hide-content/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
