/* Variables & Mixins */

// Colors
$brand-color: #7F921E;

$base-font-color:#000;
$base-link:#3368B2;
$base-link-hover:saturate($base-link, 25%);
$base-border:#cccccc;
$base-table-color:#f1f1f1;
$form-red:#d3303b;

// Fonts
$base-font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
$base-line-height: 1.5;

$heading-font-family:Georgia, "Times New Roman", Times, serif;
$heading-line-height: 1.2;

$em-base:10px;


/* ----------------------------------------- */
// Mixins
@mixin centerX() {
  position: relative;
  left: 50%;
  @include transform( translateX(-50%) );
}

@mixin centerY() {
  position: relative;
  top: 50%;
  @include transform( translateY(-50%) );
}

@mixin centerXY() {
  position: absolute;
  left: 50%;
  top: 50%;
  @include transform( translate(-50%, -50%) );
}

@mixin backgroundSize( $type ) {
  background-size: $type;
  // Enforce ie8 background-size polyfill:
  -ms-behavior: url(../polyfills/backgroundsize.min.htc);
}

// Converting px to rem (IE8 fallback)
@mixin font-size($size) {
  font-size: $size;
  font-size: rem($size);
}



#__bs_notify__ {
  display:none !important;
}
